[Unit]
Description=Starting main

[Service]
ExecStart=/usr/bin/python3 -u main.py
WorkingDirectory=/home/pi/Desktop/homer
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target